#avatar-header{
  height: 400px;
  width: 100%;
  padding-top: 120px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: #fabc41;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");  
}
#avatar{
  width: 205px;
  height:205px ;
}
#avatar>img{
  width: 100%;
}
#avatar-header h2{
  color: #fff;
  display: inline;
}
@media only screen and (min-width:1024px){
  #avatar-header{
    width: 30vw;
    margin: 170px auto 50px 50px;
    padding: 0;   
  }
}
@media only screen and (max-width:414px){
  #avatar-header{
    height: 200px;
    padding-top: 60px;
  }
  #avatar{
    width: 100px;
    height: 100px;
  }
}