nav{
  height: 120px;
  width: 100%;
  background-color: transparent;
  color:#fff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
nav>span{
  font-family: 'Bungee',sans-serif;
  font-size: 32px;
}
nav>div{
  display: flex;
  flex-direction: column;
  height: 100%;
}
nav i{
  color: red;
  align-self: center;
}
#compose{
  display: inline-block;
  border: none;
  color: #fff;
  background-color: transparent;
  outline: none;
}
#compose:hover{
  color: red;
}
@media only screen and (min-width:1024px){
  nav{ 
    background-color: #4056A1;  
  }
}
@media only screen and (max-width:414px){
  nav{ 
  padding:20px ;
  height: 60px;
  }
  nav>div{
    font-size: 18px;
    justify-content: center;
  }

}
