#to-top{
background-color: red;
width: 70px;
height: 70px;
border-radius: 50% ;
border: 0px;
position: fixed;
bottom: 10px;
right: 10px;
display: none;
outline: none;
}
#to-top i{
  color: #fff;
  font-size: 1.5em;
}
#to-top:hover{
  background-color:#fff;
  box-shadow:5px 5px rgb(211, 209, 209);
}
#to-top:hover i{
  color:red;
}
@media only screen and (max-width:414px){
  #to-top{
    width: 40px;
    height: 40px;
  }
  #to-top i{
    font-size: 1em;
  }
}